.h1-vsrd-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 1.75rem !important;
}

.h2-vsrd-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.h2-vsrd-2 {
    padding-top: 2.2rem !important;
    padding-bottom: 0.25rem !important;
}

.h2-vsrd-3 {
    padding-top: 0.05rem !important;
    padding-bottom: 0.25rem !important;
}

.p-vsrd-1 {
    margin-bottom: 0.2rem !important;
}

.p-rsr-1 {
    margin-top: 0.63rem !important;
    margin-bottom: 0.35rem !important;
}

.h4-recent-service-request {
    padding-top: 0.8rem !important;
    padding-bottom: 2rem !important;
}

.p-service-request-request-id-serial-number {
    margin-top: 0.2rem !important;
    margin-bottom: 0.85rem !important;
}

.div-truncate-text {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.div-single-line-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

h3.single-line-truncate,
h5.single-line-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}
